CAPTCHA_API_KEY="api_key_ocacaptcha"
TIKTOK_USERNAME="username_or_email"
TIKTOK_PASSWORD="password"
MESSAGE="auto send message"
HEADLESS="false"
LOGIN_WAIT_SECONDS="180"
USE_EXISTING_SESSION="false"
CHROME_USER_DATA_DIR=""
CHROME_PROFILE_DIRECTORY="Default"
